.videoMain {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: rgba(255, 248, 242, 0.85);
}

.videoContainer {
  position: relative;
  width: 950px;
  height: 540px;
  top: -90px;
  border-radius: 20px;
  background-color: blanchedalmond;
}
